@import url(../../../../style.css);

/* */

#mappa-container {
    padding: 1rem 0.5rem 0 0;
    display: grid;
    justify-items: center;
    position: relative;
}

#mappa-container iframe {
    width: 100%;
    height: 100%;
}

#mappa-container #mappa-quadrato {
    aspect-ratio: 1;
    width: 80vw;
    max-height: calc(100vh - var(--servizi-height, 266px) - 5rem);
    display: grid;
    border-radius: 0.5rem;
    overflow: hidden;
    transform: scale(0.9);
}

#mappa-container #mappa-quadrato:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform: scale(1);
}

.servizio-container-posizione {
    background: var(--50-blue);
    border: 2px solid var(--100-blue);
    display: grid;
    place-items: center;
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 15rem;
}

.servizio-icona-posizione i {
    font-size: 3rem;
    color: var(--700-blue);
}

.servizio-testo-posizione span {
    font-size: 2rem;
    text-align: center;
    color: var(--700-blue);
}

.servizio-container-posizione:hover {
    background: var(--100-blue);
    border: 2px solid var(--700-blue);
    transform: translateY(-0.5rem);
    transition: all 0.2s ease-in-out;
}

#servizi-posizione {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    height: max-content;
    margin: 1rem;
    margin-top: 2rem;
}

#servizi-posizione>div {
    flex-grow: 1;
    min-width: calc(100vw / 5 - 2rem);
}

@media screen and (max-width: 600px) {
    .servizio-container-posizione {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
        padding: 1rem 1.5rem;
    }
    .servizio-icona-posizione i {
        font-size: 3rem;
        color: var(--700-blue);
        width: 4rem;
    }
}