@media screen and (max-width: 500px) {
    #overlay-popup-evento i {
        position: absolute;
        top: calc(var(--nav-height) + 1rem);
        right: 1rem;
        font-size: 2rem;
    }
    #programma-table-container {
        height: calc(100vh - var(--nav-height) * 2);
        overflow-y: auto;
        width: 95%;
    }
}