@import url(../../../../style.css);

/*  */

#programma-container {
    display: grid;
    place-content: center;
}

.evento-full-component {
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 0;
    gap: 0rem;
    box-shadow: 0 0.1rem 0.3rem var(--50-blue);
    border: 0.1rem solid transparent;
}

.evento-full-component:hover~div {
    margin: 1.5rem 1rem;
}

.evento-full-component:hover {
    gap: 0.5rem;
    border: 0.1rem solid var(--200-blue);
    grid-template-columns: 1fr 4rem;
}

.evento-container {
    display: grid;
    border-radius: 0.5rem;
    grid-template-columns: 1fr 5fr;
    transition: all 0.1s ease-in-out;
    gap: 0.5rem;
}

.evento-container>div {
    padding: 0.5rem 1rem;
    border: 0.1rem solid var(--50-blue);
    border-radius: 0.2rem;
    display: grid;
    place-items: center;
}

#programma-table-container {
    height: 90vh;
    overflow-y: auto;
    width: 95%;
}

#programma-table-container input {
    display: none;
}

.orario-evento-programma {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center
}

.evento-info-button {
    opacity: 0.5;
    place-items: center;
    background: var(--500-blue);
    color: white;
    border-radius: 0.2rem;
    font-size: 1.5rem;
    font-weight: bolder;
    display: grid;
    cursor: pointer;
    font-size: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.evento-info-button:hover::after {
    content: attr(title);
    position: absolute;
    background: var(--900-blue);
    font-size: 0.6rem;
    width: max-content;
    top: 4.5rem;
    right: 0;
    padding: 0.2rem 0.5rem;
    border-radius: 0.1rem;
    font-weight: normal;
    opacity: 0.5;
    transform: translate(var(--x-btn), var(--y-btn));
}

.evento-full-component:hover .evento-info-button {
    opacity: 1;
    font-size: 1.5rem;
}

.evento-info-button:hover {
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem var(--500-blue);
}