main {
    position: fixed;
    top: 0;
    left: var(--navWidth, 64px);
}

main {
    /* cambia qui il numero, per scegliere la pagina iniziale */
    margin-left: calc((-100vw * var(--indexPagina, 3)) + (var(--navWidth, 64px) * var(--indexPagina, 3)));
    transition: margin 1s cubic-bezier(0, 0, 0.5, 1.5), left 0.1s ease-in-out;
}