@media (max-width: 600px) {
    .servizio-container-posizione {
        width: auto;
    }
}

@media (max-width: 500px) {
    #mappa-container {
        padding: 1rem 0 0 0;
    }
    #mappa-container #mappa-quadrato {
        width: 90vw;
    }
    .servizio-container-posizione {
        display: flex;
        width: auto;
    }
    .servizio-icona-posizione i {
        font-size: 3vw;
    }
    .servizio-testo-posizione span {
        font-size: 2vw;
    }
}

@media (max-height: 800px) {
    .servizio-icona-posizione i {
        font-size: 3vh;
    }
    .servizio-testo-posizione span {
        font-size: 2vh;
    }
    #mappa-container #mappa-quadrato {
        width: 80vw;
    }
}