@import url(../../../../style.css);
* {
    --all-width-without-navbar: calc(100vw - var(--nav-width));
}


/**/

body {
    margin: 0;
}

main>section {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

main {
    display: grid;
    /* 5 sono le pagine, ma a seguito di un bug, ho aggiunto una pagina vuota per risolvere (non cancellare, non utilizzare) */
    grid-template-columns: repeat(6, var(--all-width-without-navbar));
    overflow: hidden;
}