@media screen and (max-width: 500px) {
    * {
        --n-icons-nav: 4;
    }
    nav {
        width: 100vw;
        height: auto;
    }
    .nav-icons-container {
        display: flex;
        box-shadow: 0 0 1rem var(--100-blue);
    }
    .nav-text-container {
        display: none;
    }
    .nav-icons-container div:first-of-type {
        display: none;
    }
    .nav-text-container span {
        color: var(--800-blue);
        width: 100vw;
        padding: 0;
        padding-left: 2rem;
    }
    .nav-icons-container::before {
        content: '';
        top: 0;
        left: calc((var(--indexPagina) - 1) * 100vw / var(--n-icons-nav));
        width: calc(100vw/var(--n-icons-nav));
        height: var(--indicatore-width);
        box-shadow: 0 0.05rem 1.5rem 0.3rem var(--800-blue);
    }
}